<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shay.Dev-Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <body>
        <h1>My Dev Skills, Their 1-10 Rating, And Current Sickness Status</h1>
        <h1>skills #<%= skillNum %></h1>
        <h3><%= skill.skill %></h3>
        <h3>Complete: <%= skill.sick ? 'Yes' : 'No' %></h3>
</body>
</html>

